@(user: Usuario, message: String) 

@main("Viagens Sem Fronteiras") {

<div class="navbar navbar-default navbar-fixed-top" role="navigation">

	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
			data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span> <span
			class="icon-bar"></span> <span class="icon-bar"></span> <span
			class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/">Viagens CsF</a>
	</div>
	<div class="navbar-collapse collapse">
		<ul class="nav navbar-nav">
			<li><a href="/sobre">Sobre</a></li>
			<li><a href="/contato">Contato</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
		<li>
		<button class="btn btn-danger navbar-btn" onclick="location.href='/logout'">
		<span class="glyphicon glyphicon-log-out"></span></button></li>
		</ul>
	</div>
	<!--/.nav-collapse -->
</div>

</div>
<div class="container">

	<div class="row">
		<!-- Informacoes do viajante -->
		<div class="col-md-4">
			<br /> <br /> <br /> <br />
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Informações do Viajante</h3>
				</div>
				<div class="panel-body">
					<p>
						<label>Nome: @user.getNome</label>
					</p>
					<p>
						<label>Email: @user.getEmail</label>
					</p>
				</div>
			</div>
			<button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#modalCriarViagem">Criar
				nova Viagem</button>
			</div>

			<!-- Lista de viagens -->
			<div class="col-md-8">
				<br /> <br /> <br /> <br />
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">

							<button type="button" class="btn btn-info dropdown-toggle"
							data-toggle="dropdown">
							Filtrar Viagens <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">Todas</a></li>
							<li><a href="#">Viagens Abertas</a></li>
							<li><a href="#">Viagens Limitadas</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="list-group">
				<a href="#" class="list-group-item">
					<h4 class="list-group-item-heading">Nome da Viagem</h4>
					<p class="list-group-item-text">Descrição.</p>
				</a>
			</div>
		</div>
	</div>
</div>

}