<!-- Modal -->

<div class="modal fade" id="modalViagem">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">Informações da Viagem</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-4">
						<p>
							<label>País: </label>
						</p>
						<p>
							<label>Estado: </label>
						</p>
						<p>
							<label>Cidade: </label>
						</p>
						<p>
							<label>Endereço: </label>
						</p>
						<p>
							<label>Referência: </label>
						</p>
						<p>
							<label>Data: </label>
						</p>
						<p>
							<label>Descrição: </label>
						</p>
						<p>
							<label>Tipo: </label>
						</p>
					</div>
					<div class="col-md-8">
						<!-- Lista de Participantes -->
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-primary">Participar</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->